%ul
  %li
    %h1 New
  %li.admin-new_links
    = link_to "Alert", new_admin_alert_path
    = link_to "Benzodiazepine", new_admin_benzodiazepine_path
    = link_to "Cannabinoid", new_admin_cannabinoid_path
