%h1 Benzodiazepines
%h3
  = link_to "Research", "/static/benzodiazepine_research"
%p Benzodiazepines are a class of drugs composed of the fusion of a benzene ring and a diazepine ring. It is characterized by its action on the GABA receptors, resulting in sedative, anti-anxiety, hypnotic, anticonvulsant and muscle relaxant properties. They are commonly used to treat anxiety, insomnia, seizures, muscle spasms, alcohol withdrawal and as a premedication for medical or dental procedures. They are highly lipophilic and rapidly enter brain tissue.
%p A large range of designer benzodiazepines have cropped up on the market, ranging from entirely custom drugs to analogues of existing drugs. They can be broadly classified by their length of action. As with all CNS depressants they should not be mixed with other drugs that suppress actions of the central nervous system, such as Opiates or Alcohol, as doing so can cause fatal respiratory depression.
= render @benzodiazepines

