%h1 Benzodiazepine Research

%h2 Modification of Diazepam-based compounds

%h3 2'-Chloro substitution

%p 2'-Chloro substitution of diazepam and its derivatives appears to result in an increase in potency. This is demonstrated both by a study examining the effects of 2'-chlorodesmethyldiazepam in comparison to desmethyldiazepam, resulting in an increase in potency ratio ranking between 3.67 and 20.78, and the potency of 2-chlorodiazepam (also known as Diclazepam) in comparison to its unmodified compound, where it appears to possess 10x the potency.
%p http://www.karger.de/Article/Pdf/136845

