%h1 Consumer Reports Explained

%h2 What is a Consumer Report?

%h2 Why are Consumer Reports important?

%p By providing us with your experience, you increase the amount of anecdotal data available to everyone. This includes fellow consumers, doctors, and anyone else who might want information regarding the personal experiences of research chemicals. Your reports are very valuable, and we're grateful for all information you provide, it has the potential to save lives.

%h2 How should I format my Report?

%h2 How should I format my report?

%h3 DOs
%ul
  %li Mention any medications or other substances being used at the same time. For instance, understanding the interaction between particular antidepressants and substances.  

%h3 DON'Ts
%ul
  %li Mention specific vendors, this is to avoid particular companies using these reports for their own marketing. We carry out independent investigation on the quality of vendors to cover this aspect.
  %li Mention any personally identifying information, this is for your own safety as it may taint your future reputation.
