%aside#sidebar-wrapper
  %nav.sidebar-nav
    %li.sidebar-brand
    %li
      %a 
        %strong
          Classes
    %li
      %a{:href => "/benzodiazepines"} Benzodiazepines
    %li
      %a{:href => "/cannabinoids"} Cannabinoids
    %li
      %a{:href => "/opiates"} Opiates
    %li
      %a{:href => "/stimulants"} Stimulants
    %li
      %a{:href => "/dissociatives"} Dissociatives
    %li
      %a{:href => "/psychedelics"} Psychedelics
    %li
      %a 
        %strong
          Actions
      - unless user_signed_in?
        %li
          = link_to "Log In", new_user_session_path
        %li
          = link_to "Register", new_user_registration_path
      - if user_signed_in? && current_user.has_role?(:admin)
        %li
          = link_to "Admin", admin_dashboard_index_path
      - if user_signed_in? && (current_user.has_role?(:moderator) || current_user.has_role?(:admin))
        %li
          = link_to "Moderate", moderator_reports_path
    %li
      %a 
        %strong
          Pages
    %li
      %a{:href => "/static/about"} About
    %li
      %a{:href => "/static/contact"} Contact Us
    %li
      %a{:href => "/static/exit"} Looking for a way out?
/ /#sidebar-wrapper
